:root {
  --bg-color: #000;
  --button-text-color: rgb(122, 103, 103);
  --button-hover-color: rgb(16, 0, 41);
  --button-secondary-color: rgb(34, 9, 73);
}

body {
  color: var(--bg-color);
  font-family: 'calibri', sans-serif;
  font-weight: 400;
  margin: 0;
}

.container {
  text-align: center;
  font-style: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-button {
  background-color: var(--bg-color);
  color: var(--bg-color);
  height: 100%;
  flex-grow: 0.5;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: none;
}

.container-button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

button {
  display: block;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #6cc3d8;
  border-radius: 8px;
  border: none;
  text-transform: capitalize;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#messageOut {
  margin: 0.5rem 0;
  color: #88d5e9;
}

/* Mobile styling */

@media (max-width: 700px) {
  .container-button {
    background-color: var(--button-hover-color);
    color: var(--button-text-color);
    padding-top: 50%;
  }

  .mobile-purple {
    background-color: var(--button-secondary-color) !important;
  }
}
